<div>

    <div class="nodatawrapper" *ngIf="listcartitems_all?.length <= 0">
        <div class="nodatamodal">Keine Einträge auf der Einkaufsliste</div>
    </div>

    <div *ngIf="listcartitems_all?.length > 0">
        <datarow *ngFor="let listitem of listcartitems_all; let i = index">
            <img class="icon-medium" src="../../../assets/bs-unknown.svg" slot="icon" *ngIf="+listitem?.done === 0" />
            <img class="icon-medium" src="../../../assets/bs-check-badge-fill.svg" slot="icon" *ngIf="+listitem?.done === 1" />
            <h2 slot="title">{{listitem?.title}}</h2>
            <span slot="description">{{listitem?.description}}</span>
            <actionbutton class="mr-10" src="../../../assets/bs-check.svg" slot="actions" (click)="emitToggleDone({id: listitem?.id, done: listitem?.done})"></actionbutton>
            <actionbutton class="mr-10" src="../../../assets/bs-edit.svg" slot="actions" (click)="emitOpenModalUpdate(listitem)"></actionbutton>
            <actionbutton src="../../../assets/bs-trash.svg" slot="actions" (click)="emitOpenModalDelete(listitem?.id)"></actionbutton>
        </datarow>
    </div>

</div>
