.nodatawrapper {
    display: flex;
    justify-content: center;
    
    .nodatamodal {
        align-self: center;
    }
}

.infotext {
    font-size: 20px;
}

.infoicon {
    width: 20px;
    height: auto;
}