<div>

    <div class="nodatawrapper" *ngIf="listcarts_all?.length <= 0">
        <div class="nodatamodal">Keine Todos</div>
    </div>

    <div class="container-fluid mb-60 smallgutters">
        <div class="row" *ngFor="let rowitem of listcarts_grid; let i = index">
            <div class="col-lg-4" *ngFor="let listitem of rowitem; let c = index">
                <card>
                    <h2 slot="headline">{{listitem?.title}}</h2>
                    <div slot="content">{{listitem?.description}}</div>
                    <div slot="info">
                        <img src="../../../assets/bs-list.svg" class="infoicon" />&nbsp;<span class="infotext">{{listitem?.info?.itemcount}}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                        <img src="../../../assets/bs-list-check.svg" class="infoicon" />&nbsp;<span class="infotext">{{listitem?.info?.itemsdone}}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                        <img src="../../../assets/bs-date.svg" class="infoicon" />&nbsp;<span class="infotext">{{listitem?.timestamp * 1000 | date:"dd.MM.yy"}}</span></div>
                    <div slot="actions">
                        <actionbutton class="mr-10" src="../../../assets/bs-goto.svg" (click)="goToCartItems(listitem?.cartid)" title="Zur Einkaufsliste"></actionbutton>
                        <actionbutton class="mr-10" src="../../../assets/bs-edit.svg" (click)="emitOpenModalUpdate(listitem)" title="Zettel Bearbeiten"></actionbutton>
                        <actionbutton class="mr-10" src="../../../assets/bs-copy.svg" (click)="emitOpenModalCopy({cartid: listitem?.cartid})" title="Zettel kopieren"></actionbutton>
                        <actionbutton src="../../../assets/bs-trash.svg" (click)="emitOpenModalDelete({cartid: listitem?.cartid})" title="Zettel löschen"></actionbutton>
                    </div>
                </card>
            </div>
        </div>
    </div>

</div>
